*.pdf
*.log
*.aux
*.out
*.toc
*.url

tools/jflex/doc
tools/jflex/examples

*.class
project/src/zinara/parser/parser.java
project/src/zinara/parser/sym.java
project/src/zinara/parser/python_grammar.txt
project/src/zinara/lexer/Scanner.java
project/src/zinara/lexer/Lexer.java
project/classes/
